a.logon, a:visited.logon {
	margin-top: 3px;
	text-decoration:none;
	text-alignment: center;
	font-size: 10px;
	font-family: verdana,arial,sans;
	font-weight: bold;
	border: none;
	color: #006;
}

a.expander, a:visited.expander {
	font-size: 12pt;
	font-weight: 600;
	text-decoration: none;
	color: #006;
}

div.logon {
	background-image: url('/images/mbutton.png');
	background-repeat: repeat;
	border: none;
	vertical-alignment: middle;
	margin-top: 5px;
	text-align: center;
}

div.logonform {
	margin-left:auto;
	margin-right: auto;
	margin-top:15px;
	background-color: #fff;
	text-align: center;
	width:75%
}

div.blogdisplay {
	margin-left: auto;
	margin-right: auto;
	background-color: #CCC;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 75%;
	overflow-y: auto;
}
div.postform {
	margin-left:auto;
	margin-right:auto;	
}

div.navlist {
	margin-top: 5px;
	width: 100%;
	font-size: 12px;
	font-family: verdana,arial,sans;
	font-weight: normal;
	color: #006;
	text-align: center;
}

span.acctname {
	font-size: 14px;
	font-weight: bold;
	font-family: TimesNewRoman;
	line-height: 250%;
}

span.navheader {
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	text-align: center;
}

div.registration {
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	width: 50%;
}

table.logonform {
	margin: auto;
	width: 50%;
}
td.title {
	width=100%;
	text-align: center;	
}

td.content {
	margin-left: auto;
	margin-right: auto;
	width=70%;	
	text-align: left;	
}

td.formlabel {
	padding-right: 3px;
	text-align: right;
}

td.formdata {
    width:80%;
    text-align: left;	
}

td.formtext {
	padding: 3px;
}