/* Created by Arian Stolwijk <http://www.aryweb.nl> */

.MooDialog {
	position: fixed;
	width: 600px;
	height: 200px;
	top: 60%;
	left: 40%;
	margin: -150px 0 0 -150px;
	padding: 20px;
	z-index: 50000;
	background: #666666;
	color: black;
	border: 3px thick #663;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
	-webkit-box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
	box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
}

.MooDialogTitle {
	padding-top: 30px;
}

.MooDialog .content {
	height: 200px;
	overflow: auto;
}

.MooDialog .title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 3px 20px;

	background: #b7c4dc;
	border-bottom: 1px solid #a1aec5;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	color: black;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.MooDialog .close {
	position: absolute;
	width: 16px;
	height: 16px;
	top: -5px;
	left: -5px;
	
	background: url(/images/dialog-close.png) no-repeat;
	display: block;
	cursor: pointer;
}

.MooDialog .buttons {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	text-align: right;
}

.MooDialog .iframe {
	width: 100%;
	height: 100%;
}

.MooDialog .textInput {
	width: 200px;
	float: left;
}

.MooDialog .MooDialogAlert,
.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPrompt,
.MooDialog .MooDialogError {
	padding-left: 40px;
	min-height: 40px;
}

