body {
	margin: 5px;
	background-color: #39D;
	text-align: center;
}

button {
	color: #009;
}
a.menubar {
	text-decoration: none;
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	color: #009;
}

table.menu {
	width: 100%;
	border-style: none;
}

tr.menu {
	width: 100%;
	border-style: none;
}

td.menu {
	cursor: pointer;
    height: 30px;
    border: 0px;
    background-color: #CCC;
    background: url('../images/mbutton.png');
    box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.3);
    -o-box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.3);
    color: #6b7b95 !important;
    text-shadow: 0 -0.1em 0.1em #4C6074;
    font-size: 12pt;
    font-weight: bold;
}

td.main {
	vertical-align: top;
	width: 85%
	height: 100%;	
}

td.sidebar {
	vertical-align: top;
	width: 15%;
	height: 100%;
	padding-left:3px;
	font-size: 10px;
}

.page {
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	
}

.visible {
	display: block;
}

.hidden {
	display: none;	
}

.masthead {
	background-color: #009;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height: 80px;
	color: #EEE;
	font-weight: bold;
	font-size: 18pt;
	padding-left: 5px;
	padding-top: 8px;
	vertical-align: middle;
	text-align: left;
	border-color: #009;
	border-width: 2px;
	border-style: solid;
}

div.menubar {
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	width: 100%;
	height: 35px;
	background-color: #CCC;
	border-color: #009;
	border-width: 2px;
	border-style: solid;
	text-align: centerline;
	vertical-align: middle;
}

div.bodytext {
	padding-left: 25px;
	padding-right: 25px;
	overflow: auto;
	width: 95%;
}

p {
	font-size: 11.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.main_content {
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	vertical-align:top;
	text-align: left;
	padding-left: 5px;
	width: 100%;
	height: 550px;
	background-color: #FFF;
	color: #006;
	border-color: #009;
	border-width: 2px;
	border-style: solid;
}

.footer {
	margin-left:auto;
	margin-right:auto;
	margin-top: 3px;
	vertical-align: middle;
	color: 009;
	font-size: 10px;
	font-family: arial;
	width: 80%;
	height: 30px;
}
