body {
	height: 100%;
	width:100%;
	margin: 5px;
	background-color: #39D;
	text-align: center;
}

button {
	color: #009;
}
a.menubar {
	text-decoration: none;
	font-family: arial;
	font-size: 11pt;
	font-weight: bold;
	color: #009;
}

table.menu {
	width: 100%;
	border-style: none;
}

tr.menu {
	width: 100%;
	border-style: none;
}

td.menu {
	width:18%;
	background-image: url('/images/mbutton.png');
	background-size: 15px; 
	border-style: outset;	
	border-color: #999;
	border-width: 2px;
	background-color: #AAA;
	padding: 2px;
}

td.main {
	vertical-align: top;
	width: 85%;
	height: 100%;	
}

td.sidebar {
	vertical-align: top;
	width: 15%;
	height: 100%;
	padding-left:3px;
	font-size: 10px;
}

.page {
	margin-left:auto;
	margin-right:auto;
	width: 90%;
	
}

.visible {
	display: block;
}

.hidden {
	display: none;	
}

.logon {
	background-color: #CCC;
	border: solid 2px #009;
}

div.masthead {
	background-color: #009;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height: 80px;
	color: #EEE;
	font-weight: bold;
	font-size: 18pt;
	padding-left: 5px;
	padding-top: 8px;
	vertical-align: middle;
	text-align: left;
	border-color: #009;
	border-width: 2px;
	border-style: solid;
}

div.menubar {
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	padding: 2px;
	width: 100%;
	background-color: #CCC;
	border-color: #009;
	border-width: 2px;
	border-style: solid;
	text-align: centerline;
	vertical-align: middle;
}

div.bodytext {
	padding-left: 25px;
	padding-right: 25px;
	overflow-y: auto;
	width: 95%;
	height: 75%;
}

div.registration {
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	width: 50%;

}

p {
	font-size: 11.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.main_content {
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	vertical-align:top;
	text-align: left;
	padding-left: 5px;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	color: #006;
	border-color: #009;
	border-width: 2px;
	border-style: solid;
}

.footer {
	margin-left:auto;
	margin-right:auto;
	margin-top: 3px;
	vertical-align: middle;
	color: 009;
	font-size: 10px;
	font-family: arial;
	width: 80%;
	height: 30px;
}
