
/*----  Tree Controls  ----*/
ul {
    padding: 0 0 0 15px;
}

ul.tree {
    margin: 0;
    padding: 0 0 0 0px;
}

ul.tree li {
    position: relative;
    list-style-type: none;
    padding: 0;
    line-height: 25px;
    margin: 3px 0;
    background: none;
}

ul.tree span {
    font-size: 12px;
    font-family: arial, sans-serif;
    cursor: pointer;
    color: #5e5e5e;
    text-decoration: none;
    padding: 3px 6px 3px 6px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

ul.tree span.selected {
    background-color: #efefef;
}

ul.tree span:focus {
    outline: none;
    border: 2px dotted #cc0000;
    margin: -2px -2px -2px -2px;
}

ul.tree img.expand {
    cursor:pointer;
    outline: 0;
    float: left;
    display: block;
    padding-top: 2px;
    margin: 0;
    margin-top: 4px;
    margin-right: 8px;
}

ul.tree a.expand:link { color:#ffff00; }
ul.tree a.expand:visited { color:#ffff00; }
ul.tree a.expand:active { color:#ffff00; }

ul.tree div.lineH {
    position: absolute;
    top: 0px;
    left: 15px;
    border-bottom: 1px dashed #cccccc;
    width: 9px;
    height: 13px;
}

ul.tree div.lineDiv {
    position: absolute;
    top: -11px;
    left: 30px;
    overflow: hidden;
    width: 1px;
    height: 100%;
}

ul.tree div.lineV {
    position: absolute;
    top: 33px;
    left: 0;
    border-left: 1px dashed #cccccc;
    width: 9px;
    height: 100%;
}
