// LESS

// color refs
@base-color: #FFF;
@medium-bkg: #AAA;
@light-bkg: #CCC;
@dark-bkg: #666;
@dark-label: #111;

// work vars
@the-border: 1px;

body {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  alignment: center;
}

// --- Resume Styles ---
div.page {
  margin-left:auto;
  margin-right: auto;
  width: 80%;
  background-color: @base-color;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  text-align: left
}

h3 {
  text-decoration: underline
}


a.menubar {
  font-family: verdana,arial;
  font-size: 12px;
  font-weight: bold;
  color: @dark-label;
  text-decoration: none
}

div.menubar {
  margin-left: auto;
  margin-right: auto; 
  padding: 2px;
  background-color: @dark-bkg;
  width: 1004px;
  height: 36px;
    
}

div.masthead {
  width:100%;
  background-color: @light-bkg;
  text-align: left; 
  border-width: 3px;
  border-color: @dark-bkg;
  border-style: solid
}


div.nameAndForm {
  text-align: center;
  width: 80%
}
div.ressummary{
  width: 80%  
}

table.ressummary {
  background-color: @light-bkg
}

td.ressummary {

}

table.menu {
  
}

td.menu {
  background: url('/images/mbutton.png');
  height: 30px;
  cursor: pointer;
  text-align: center;
  width: 200px; 
}

td.resdata {
  text-align: left;
  background-color: @light-bkg;
  padding-left: 8px
}

th.label {
  width: 25%;
  text-align: right;
  margin-right: 10px
}

// page structs
div.header {
  color: (@base-color * 3);
  border-left: @the-border;
  border-right: (@the-border * 2);
}

div.footer {;
  border-color: desaturate(#111, 10%);
  font-size: 8pt;
}